@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: #1F2937;
    padding: 20px 15% 0;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.links,
#hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: 1px #3882F6;
    width: 85px;
    height: 30px;
    margin: 10px 0;
    border-radius: 7px;
}

.navbar {
    display: flex;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.hero-content {
    display: flex;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    flex-wrap: wrap;
    margin-right: auto;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0 0 50px 50px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 25px 0;
}

.row-of-blue-boxes {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.box-blue {
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.second-section {
    padding-bottom: 100px;
}

.second-section p {
    width: 150px;
    flex-wrap: wrap;
    text-align: center;
}